[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=~/Applications/cats3/CATS3
Name=CATS3
Icon=/home/tobias/Develop/proj/deskshort/icon/cats3-icon.png
Categories=Office;Multimedia;