#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=JDownloader
GenericName=Download Manager
Exec=java -jar /home/tobias/Applications/JDownloader/JDownloader.jar
Icon=/home/tobias/Entwicklung/deskshort/icon/jdownloader-icon.png
Type=Application
Categories=Internet;